
.c-button {
    width: 160px;
    height: 48px;
    font-size: 13px;
    font-weight: bold;
}

.c-button--primary {
    color: var(--theme-color1);
    background-color: var(--theme-color3);
    border: none;
}

.c-button--secondary {
    color: var(--theme-color1);
    background-color: var(--theme-color2);
}

.c-button-tertiary {
    color: var(--theme-color2);
    background-color: rgb(0,0,0,0);
    border: 1px solid;
}