<div [ngClass]="['l-flex']">
    <span appSliderHighlight [ngClass]="['c-dot-selector']" [attr.data-id]="1" (click)="selectDot($event)">
    </span>
    <span appSliderHighlight [ngClass]="['c-dot-selector']" [attr.data-id]="2" (click)="selectDot($event)">
    </span>
    <span appSliderHighlight [ngClass]="['c-dot-selector']" [attr.data-id]="3" (click)="selectDot($event)">
    </span>
    <span appSliderHighlight [ngClass]="['c-dot-selector']" [attr.data-id]="4" (click)="selectDot($event)">
    </span>
</div>
