@mixin flex {
    display: flex;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin grid($columns, $width : 1fr){
    display: grid;
    grid-template-columns: repeat($columns, $width);
}

@mixin media-query($screen-size){
    @if $screen-size == mobile {
        @media(max-width: 767px){
            @content;
        }
    }
    @else if $screen-size == tablet {
        @media (max-width: 1300px){
            @content;
        }
    }

    @else if $screen-size == desktop {
        @media (min-width:1300px){
            @content
        }
    }
}